<% if document.file.present? %>
  <p>
    <%= link_to document.file.file.try(:filename), document.file.url %>
    <%= link_to delete_file_admin_legal_library_document_path(document), method: :delete, remote: true do %>
      <span class="glyphicon glyphicon-remove">
    <% end %>
  </p>
<% else %>
  <p>
    <%= form_for :resource, url: upload_file_admin_legal_library_document_path, multipart: true, authenticity_token: true do |f| %>
      <%= f.file_field :file %>
      <%= f.hidden_field :file_cache %>
      <%= f.submit('Загрузить') %>
    <% end %>
  </p>
<% end %>
