<% if document.file.present? %>
  <p>
    <%= link_to document.file.file.try(:filename), document.file.url %>
    <%= link_to delete_file_admin_legal_library_document_path(document), method: :delete do %>
      <span class="glyphicon glyphicon-remove">
    <% end %>
  </p>
<% else %>
  <p>
    <%= form_tag(upload_file_admin_legal_library_document_path, multipart: true) do %>
      <%= file_field_tag 'file' %>
      <%= submit_tag('Upload') %>
    <% end %>
  </p>
<% end %>
